/* html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(245, 205, 156);
}
#input {
    margin-left: 122px;
    margin-top: 25px;
    width: 16%;
    height: 22px;
}
.butt {
    margin-left: 18px;
    width: 60px;
    height: 24px;
    
}
del.button{
    margin-left: 121px;
    width: 109px;
    height: 30px;
    font-weight: 600;
}
p{
    margin-left: 40px;
} */